
            <div class="column">
                <div class="section">
                    <aside class="menu">
                        <p class="menu-label">
                            Menu
                        </p>
                        <ul class="menu-list">
                            <li><a href="<%= path.re %>basic/">Basic</a></li>
                            <li><a href="<%= path.re %>geocoder/">Geocoder</a></li>
                            <li><a href="<%= path.re %>style/">Style</a></li>
                            <li><a href="<%= path.re %>marker/">Marker</a></li>
                            <li><a href="<%= path.re %>select/">Select</a></li>
                        </ul>
                    </aside>
                </div>
            </div>